@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

*,html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Kulim Park', sans-serif;
    background-color: bisque;
    color: firebrick;
}

/* ------------------- header css ----------------- */
.navbar-brand img
{
    width:150px;
    margin-top: 30px;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20PX;
}
.navbar
{
   padding: 1em 0 !important; 
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.banner
{
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px;
}
.navbar-nav .nav-item{
    margin-right: 80px;
    margin-top: 5px
}
.navbar-nav{
    padding-left: 100px;
}


/* ------------------- index body css ----------------- */

.tala{
    text-align: center;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
    cursor: pointer;
}
/* ------------ menu css ---------------*/


/* -------------about css------------ */
.About p img {
	width: 40%;
	float: right;
}
.About p {
	padding-left: 3%;
}

/* --------------- contact css ---------- */

#contents{
	padding: 20%;
	padding-top: 150px;
	padding-bottom: 0px;
	font-size: 25px;
	font-weight: bold;
}
/* ------------------ signup css ------------------*/
input[type=text], 
input[type=password]{ 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
} 
.clearfix button{ 
    background-color: green; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    cursor: pointer; 
    width: 100%; 
} 
.clearfix .cancelbtn{ 
    padding: 14px 20px; 
    background-color: #FF2E00; 
} 
.cancelbtn, 
.signupbtn{ 
    float: left; 
    width: 50%; 
} 
.container{ 
    padding: 16px; 
} 
.modal{ 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px; 
} 
.modal-content{ 
    background-color: #dae0e5; 
    margin: 5% auto 15% auto; 
    border: 1px solid #888; 
    width: 50%; 
}       
.close{ 
    position: absolute; 
    right: 300px; 
    top: 60px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
} 
.close:hover, 
.close:focus{ 
    color: red; 
    cursor: pointer; 
}       
.clearfix::after{ 
    content: ""; 
    clear: both; 
    display: table; 
}       
    @media screen and (max-width: 300px) { 
        .cancelbtn, 
        .signupbtn { 
            width: 100%; 
        } 
    }


/* --------- footer css --------- */
#main-footer{
    background:#007bff40 ;
    
	text-align: center;
	margin-top:200px;	
}
#main-footer .social img{
	padding: 20px;
	padding-bottom:0px;
	height:80px;
	margin-bottom:5px;
}

/* .container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
.table-image {
    td, th {
      vertical-align: middle;
    }
  } */
