{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="About">
    <div class="body-photoa" style="background:url('{% static 'Images/Web.jpg' %}')"></div>
    <main id="contents">
        <!-- <img src="Images/Web.jpg" alt="image"><br><br> -->
        <h3>About MyBakery</h3>
        MyBakery is a Pastry Shop, a family owned and operated bakery located in the heart of Kathmandu Valley,
        Dillibazaar Pipalbot.
        The bakery, which was founded in 2002, is well known throughout the East Coast and beyond. Our staff receives
        many calls
        throughout the year asking if our cookies can be shipped. It is with great pleasure that we can finally answer
        YES! <br><br>

        MyBakery creates exceptional French-inspired pastries and childhood favourites including sweet pastries,
        artistic cakes, seasonal tarts, nostalgic cookies and rich viennoiserie. The croissants have been cited as the
        Valley best in
        publications such as Kantipur Magazine. MyBakery commitment to quality is never compromised and tastless.
        <br><br>

        <h3>
            <hr> “WE SELL HAPPINESS. IT JUST HAPPENS TO LOOK LIKE A CUPCAKE.”
            <hr>
        </h3><br><br>
        <h4>WE LOVE BEING A BAKERY</h4>
        <p>
            <img src="{% static 'Images/Wall.jpg' %}" alt="image">To us, a bakery is everything that’s right with a neighborhood. We
            love working dough in the early hours of the morning,
            the satisfyingly straight rows of baguette, and too-adorable-to-eat cupcakes. We love putting smiles on the
            faces of
            little ones, prepping for the big meeting with a great breakfast, and giving an excuse to lingering with an
            old friend.
            We love every single minute of being your Kathmandu Valley neighborhood bakery.</p>

    </main>
</div>

{% endblock %}