{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Bakery</title>
</head>

<body>

    <div class="banner">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'Images/Bakery.png' %}"
                    alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'menu' %}"><i class="fas fa-book-open"></i> MENU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-address-book"></i> CONTACT US</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Welcome {{user.first_name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <a class="dropdown-item" href="{% url 'index' %}">Hello, {{user.first_name}}</a> -->
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            {% if user.is_superuser == 1 %}
                            <a class="dropdown-item" href="{% url 'admindashboard' %}">Dashboard</a>
                            {% endif %}
                        </div>
                    </li>
                    {% else %}
                    <li><a class="nav-link" href="#" onclick="document.getElementById('id01').style.display='block'">
                            <i class="fas fa-user"></i> Log In</a></li>

                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>

    <div>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endfor %}
    </div>

    {% block content %}
    <!-- here -->
    {% endblock %}

    <div id="id01" class="modal" id="myModal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <label><i class="fa fa-user fa-2x"></i> <b>Username :</b></label>
                <input type="text" placeholder="Enter Username" name="user" required>

                <label><i class="fa fa-lock fa-2x"></i> <b>Password :</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>


                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Log In</button>
                </div>
                <p>Don't have an account? <a href="#" onclick="clicked()"><strong>Create now</strong></a></p>
            </div>
        </form>
    </div>

    <div id="id02" class="modal" id="myModal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <label><i class="fa fa-user fa-2x"></i> <b>First Name: :</b></label>
                <input type="text" placeholder="Enter Your First Name" name="first_name" required>

                <label><i class="fa fa-user fa-2x"></i> <b>Last Name: :</b></label>
                <input type="text" placeholder="Enter Your Last Name" name="last_name" required>

                <label><i class="fa fa-user fa-2x"></i> <b>Username :</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label><i class="fa fa-envelope fa-2x"></i> <b>Email :</b></label>
                <input type="text" placeholder="Enter Email Address" name="email" required>

                <label><i class="fa fa-lock fa-2x"></i> <b>Password :</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <label><i class="fa fa-lock fa-2x"></i> <b>Confirm Password :</b></label>
                <input type="password" placeholder="Confirm Password" name="confirmpassword" required>
                <input type="checkbox"> Remember me
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>

    </div>
    <footer id="main-footer">

        <div class="social">
            <a href="#"><img src="  {% static 'Images/facebook.png' %}" alt="logo"></a>
            <a href="#"><img src="  {% static 'Images/instagram.png' %}" alt="logo"></a>
            <a href="#"><img src="  {% static 'Images/twitter.png' %}" alt="logo"></a>
            <a href="#"><img src="  {% static 'Images/Gmail.png' %}" alt="logo"></a>
            <a href="#"><img src="  {% static 'Images/Youtube.png' %}" alt="logo"></a>
        </div>
        <hr>

        <div class="container-fluid text-center bg-secondary py-2 text-white">
            <p>Copyright &copy; My Bakery 2020 || Terms and conditions || All rights are reserved<br></p>
            <p>Contact Us : mybakery143@gmail.com</p>
        </div>
    </footer>

    <script>
        function clicked() {
            document.getElementById('id01').style.display = 'none';
            document.getElementById('id02').style.display = 'block'
        }
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>