{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BakeryProject</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


</head>

<body>
  <!-- 
    <div class="banner">
        <nav class="navbar navbar-expand-lg navbar-light">
       <a class="navbar-brand" href="#"><img src="{% static 'Images/BakeryLogo.png' %}" alt="logo"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            {% if user.is_superuser == 1 %}
                <li class="nav-item"><a href="{% url 'items' %}">DashBoard</a>
                {% endif %}
           <li class="nav-item">
             <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home" ></i> HOME</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}"><i class="fas fa-book-open"></i> MENU</a>
           </li>
           
           
         </ul>
           <ul class="navbar-nav ml-auto">
           
            <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a>
            </li>

           <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
           </li>
           <li class="nav-item dropdown">
              <a class="nav-link dropdo wn-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
           {% if user.is_authenticated %}
                
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-user"></i> MyAccount</a></li>
                <p>Hello, {{user.first_name}} | <a class="nav-link" href="{% url 'logout' %}">LogOut</a></p>
                <li class="nav-item">Hello, {{user.first_name}}</li>
                {% else %}
                <li><a class="nav-link" href="#" onclick="document.getElementById('id01').style.display='block'">
                        <i class="fas fa-user"></i> Log In</a></li>

                {% endif %}
           
           
         </ul>
       </div>
     </nav>
         
         
         
     </div> -->





  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{% static 'Images/BakeryLogo.png' %}" width="100px" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}"><i class="fas fa-book-open"></i> MENU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MY ACCOUNT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Hello, {{user.first_name}}</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                        {% if user.is_superuser == 1 %}
                            <a class="dropdown-item" href="{% url 'items' %}">Dashboard</a>
                        {% endif %}
                    </div>
                </li>
                {% else %}
                <li><a class="nav-link" href="#" onclick="document.getElementById('id01').style.display='block'">
                        <i class="fas fa-user"></i> Log In</a></li>

                {% endif %}
            </ul>
        </div>
    </nav> -->










  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>




  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
        
        <a class="navbar-brand" href="#"><img src="{% static 'Images/BakeryLogo.png' %}" alt="logo"></a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home" ></i> HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'menu' %}"><i class="fas fa-book-open"></i></i> MENU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
              </li>



                <li><a href="{% url 'index' %}"><i class="fas fa-home" ></i> HOME</a></li>
                <li><a href="{% url 'menu' %}"><i class="fas fa-book-open"></i></i> MENU</a></li>
                <li><a href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a></li>
                <li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdo wn-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>



            
          </ul>
         
        </div>
    </div>
      </nav> -->





  <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% static 'Images/BakeryLogo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a href="{% url 'index' %}"><i class="fas fa-home" ></i> HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'menu' %}"><i class="fas fa-book-open"></i></i> MENU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                  <a href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
                    
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}"><i class="fas fa-address-book"></i> CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'menu' %}"><i class="fas fa-book-open"></i></i> MENU</a>
                </li>
              </ul>
              <li class="nav-item">
              {% if user.is_authenticated %}
                
                <li><a href="{% url 'logout' %}"><i class="fas fa-user"></i> MyAccount</a></li>
                <p>Hello, {{user.first_name}} | <a href="{% url 'logout' %}">LogOutu</a></p>
                <li>Hello, {{user.first_name}}</li>
                {% else %}
                <li><a href="#" onclick="document.getElementById('id01').style.display='block'">
                        <i class="fas fa-user"></i> Log In</a></li>

                {% endif %}
            </div>
        
          </nav> Navbar content write here
      </nav> -->




  <!-- <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
            <ul>
                {% if user.is_superuser == 1 %}
                <li><a href="{% url 'items' %}">DashBoard</a>
                {% endif %}
                <li><a href="{% url 'index' %}"><i class="fas fa-home" ></i> HOME</a></li>
                <li><a href="{% url 'menu' %}"><i class="fas fa-book-open"></i></i> MENU</a></li>
                <li><a href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a></li>
 
                </li>
                <li><div class="logo">
                    <img src="{% static 'Images/BakeryLogo.png' %}" alt="logo">
                </div>
                <div class="navbar"></li>
                <li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a></li>
                   
                </li>
                {% if user.is_authenticated %}
                
                <li><a href="{% url 'logout' %}"><i class="fas fa-user"></i> MyAccount</a></li>
                <p> {{user.first_name}} | <a href="{% url 'logout' %}">LogOut</a></p>
                <li>Hello, {{user.first_name}}</li>
                {% else %}
                <li><a href="#" onclick="document.getElementById('id01').style.display='block'">
                        <i class="fas fa-user"></i> Log In</a></li>

                {% endif %}
                    
            </ul>
        </div>
    </nav> -->




  <!-- <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="{% static 'Images/BakeryLogo.png' %}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                
                {% if user.is_superuser == 1 %}
                <li class="nav-item"><a href="{% url 'items' %}">DashBoard</a>
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home" ></i> HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'menu' %}"><i class="fas fa-book-open"></i></i> MENU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'store' %}"><i class="fas fa-store-alt"></i> IN STORE ONLY</a>
                </li>
                
              </ul>
                <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
                </li>
                {% if user.is_authenticated %}
                
                <li class="nav-item"><a href="{% url 'logout' %}"><i class="fas fa-user"></i> MyAccount</a></li>
                <p>Hello, {{user.first_name}} | <a href="{% url 'logout' %}">LogOut</a></p>
                <li class="nav-item">Hello, {{user.first_name}}</li>
                {% else %}
                <li><a href="#" onclick="document.getElementById('id01').style.display='block'">
                        <i class="fas fa-user"></i> Log In</a></li>

                {% endif %}
                
                
              </ul>
            </div>
          </nav>
               -->

  <!-- <footer class="bg-primary text-white">
        <div class="container py-3">
            <div class="row">
                <div class="col-lg-3 col-sm-6 pb-2"></div>
                    <h4>About Us</h4>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ab ut voluptas quae dolorem aut quidem aperiam accusantium, eos quibusdam ex optio ea vitae id mollitia ad tempora officiis illum.
                    </p>
                <div class="col-lg-3 col-sm-6 pb-2"></div>
                    <h4>Usefull links</h4>
                    <ul class="list-unstyle">
                        <li><a href="">HOME</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                <div class="col-lg-3 col-sm-6 pb-2"></div>
                    <h4>CONTACT US</h4>
                    <p>
                        <address>Ghattekulo-Kathmandu, Nepal</address>
                        <strong>Phone:</strong> 9845712548<br/>
                        <strong>Email:</strong><a href="mybakery143@gmail.com">test@test.com</a>
                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                    </div>
                <div class="col-lg-3 col-sm-6 pb-2"></div>
                    <h4>Newsletters</h4>
                    <p>Enter Your Email Address Below:</p>
                    <form action="">
                        <div class="input-group">
                            <input type="email" name="" id="" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-secondary">Subscribe</button> 
                            </div>
                        </div>
                    </form>

            </div>
        </div>
        <div class="container-fluid text-center bg-secondary py-2" >
            &copy; Copyright MyBakery 2020, All rights are reserved.
        </div>   
    -->














  <div>
    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}
  </div>

  {% block content %}
  <!-- here -->
  {% endblock %}

  <div id="id01" class="modal" id="myModal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div class="container">
        <label><i class="fa fa-user fa-2x"></i> <b>Username :</b></label>
        <input type="text" placeholder="Enter Username" name="user" required>

        <label><i class="fa fa-lock fa-2x"></i> <b>Password :</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>


        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Log In</button>
        </div>
        <p>Don't have an account? <a href="#" onclick="clicked()"><strong>Create now</strong></a></p>
      </div>
    </form>
  </div>
  <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button> -->

  <div id="id02" class="modal" id="myModal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <div class="container">
        <label><i class="fa fa-user fa-2x"></i> <b>Full Name: :</b></label>
        <input type="text" placeholder="Enter Your Fullname" name="first_name" required>

        <label><i class="fa fa-user fa-2x"></i> <b>Last Name: :</b></label>
        <input type="text" placeholder="Enter Your Fullname" name="last_name" required>

        <label><i class="fa fa-user fa-2x"></i> <b>Username :</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label><i class="fa fa-envelope fa-2x"></i> <b>Email :</b></label>
        <input type="text" placeholder="Enter Email Address" name="email" required>

        <label><i class="fa fa-lock fa-2x"></i> <b>Password :</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label><i class="fa fa-lock fa-2x"></i> <b>Confirm Password :</b></label>
        <input type="password" placeholder="Confirm Password" name="confirmpassword" required>
        <input type="checkbox"> Remember me
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id02').style.display='none'"
            class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Sign Up</button>
        </div>
      </div>
    </form>

  </div>
  <footer id="main-footer">

    <div class="social">
      <a href="#"><img src="  {% static 'Images/facebook.png' %}" alt="logo"></a>
      <a href="#"><img src="  {% static 'Images/instagram.png' %}" alt="logo"></a>
      <a href="#"><img src="  {% static 'Images/twitter.png' %}" alt="logo"></a>
      <a href="#"><img src="  {% static 'Images/Gmail.png' %}" alt="logo"></a>
      <a href="#"><img src="  {% static 'Images/Youtube.png' %}" alt="logo"></a>
    </div>
    <hr>

    <div class="container-fluid text-center bg-secondary py-2 text-white">
      <p>Copyright &copy; MyBakery 2020 || Terms and conditions || All rights are reserved<br></p>
      <p>Contact Us : mybakery143@gmail.com</p>
    </div>
  </footer>

  <script>
    function clicked() {
      document.getElementById('id01').style.display = 'none';
      document.getElementById('id02').style.display = 'block'
    }
  </script>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>