{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="body-photo">
    <img src="{% static 'Images/bake.jpg' %}" class="img-fluid" alt="image">
</div>

<div class="tala container"><br>

    <h1 class="display-3">Welcome to My Bakery </h1>
    <h6>" KEEP CALM & EAT CAKE "</h6>
    <hr>
    <p>We’re a family business who is honored to serve Kathmandu Valley's neighborhood communities. Since 2002, our
        mission has been simple: to bring
        smiles to our neighbors. We’re here to help you celebrate life’s moments, big and small: from A+ spelling tests
        to milestone birthdays.
    </p><br><br>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-block shadow">
                <div class="inner">
                    <img src="{% static 'images/CI1.Jpg' %}" class="card-img-top" alt="First Card">
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title">Venella Cake</h5>
                    <p class="card-text">Rs. 100</p>
                    <a href="#" class="btn btn-danger">Order Now</a>
                </div>
            </div>

        </div>

        <div class="card text-center">
            <div class="card-block shadow">
                <div class="inner">
                    <img src="{% static 'images/CI0.Jpg' %}" class="card-img-top" alt="Second Card">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Chocolate Cake</h5>
                    <p class="card-text">Rs. 150</p>
                    <a href="#" class="btn btn-danger">Order Now</a>
                </div>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block shadow">
                <div class="inner">
                    <img src="{% static 'images/CI2.Jpg' %}" class="card-img-top" alt="Third Card">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Black Forest Cake</h5>
                    <p class="card-text">Rs. 200</p>
                    <a href="#" class="btn btn-danger">Order Now</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}