{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="body-photom" style="background:url('{% static 'Images/MenuTop1.jpg' %}')">
        <h1>Baked Fresh Daily</h1>
    </div>
    <br><br>
    



    <div class="menu">
        <hr><h3>Cakes</h3>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src="{% static 'images/C1.jfif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link">Order Now</a>
                    </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src="{% static 'images/C2.jfif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link">Order Now</a>
                    </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src="{% static 'images/C5.jfif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link">Order Now</a>
                    </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src="{% static 'images/C6.jfif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link">Order Now</a>
                    </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src="{% static 'images/C7.jfif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link">Order Now</a>
                    </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                    <img src="{% static 'images/C8.jfif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link">Order Now</a>
                    </div>
                    </div>
                </div>



            <!-- <div class="col mb-4">
              <div class="card h-100">
                <img src="images/C0.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Order Now</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div> -->
            </div>
                <hr><h3>Biscuits</h3>
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col mb-4">
                            <div class="card h-100">
                            <img src="{% static 'images/CK0.jfif' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="card-link">Order Now</a>
                            </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                            <img src="{% static 'images/CK1.jfif' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="card-link">Order Now</a>
                            </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                            <img src="{% static 'images/CK2.jfif' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="card-link">Order Now</a>
                            </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                            <img src="{% static 'images/CK3.jfif' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="card-link">Order Now</a>
                            </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                            <img src="{% static 'images/CK4.jfif' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="card-link">Order Now</a>
                            </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                            <img src="{% static 'images/CK5.jfif' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="card-link">Order Now</a>
                            </div>
                            </div>
                        </div>
            <!-- <ul>
                <li><img src="images/C0.jfif" alt=""></li>
                <li><img src="images/C1.jfif" alt=""></li>
                <li><img src="images/C2.jfif" alt=""></li>
                <li><img src="images/C3.jfif" alt=""></li>
                <li><img src="images/C4.jfif" alt=""></li>
                <li><img src="images/C5.jfif" alt=""></li>
                <li><img src="images/C6.jfif" alt=""></li>
                <li><img src="images/C7.jfif" alt=""></li>
                <li><img src="images/C8.jfif" alt=""></li>
                <li><img src="images/C9.jfif" alt=""></li>
                <li><img src="images/C10.jfif" alt=""></li>
                <li><img src="images/C11.jfif" alt=""></li>
            </ul> -->

                <!-- <li><img src="images/CK0.jfif" alt=""></li>
                <li><img src="images/CK1.jfif" alt=""></li>
                <li><img src="images/CK2.jfif" alt=""></li>
                <li><img src="images/CK3.jfif" alt=""></li>
                <li><img src="images/CK4.jfif" alt=""></li>
                <li><img src="images/CK5.jfif" alt=""></li> -->
            
    </div>
    



{% endblock %}