{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}


<div class="body-photo">
    <img src="{% static 'Images/cookies.jpg' %}" class="img-fluid" alt="image">
</div>
<br><br>

<div class="tala container"><br>
    <hr>
    <h1 class="display-4">MADE <br> FRESH FOR <br> YOU!</h1>
    <hr>
    <br><br>
</div>
<div class="container">
    <div class="card-deck row ">
        {% for prdt in prdts %}
        <div class="card col-md-4">
            <div class="card-block shadow">
                <div class="inner">
                    <img src="{{prdt.img.url}}" class="card-img-top" alt="Card">
                    <!-- <img src="{{baseUrl}}/{{prdt.img}}" class="card-img-top" alt="Card"> -->
                </div>
                <div class="card-body text-center">
                    <h1 class="display-6">{{prdt.name}}</h1>
                    <hr>
                    <h3 class="display-6">Rs. {{prdt.price}}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}